
        /* Basic styling for the dashboard */

        body {
            margin: 0;
            padding: 0;
            font-size: 20px;
            
        }
        /* Header */
        header {
            background-color: #0882bb;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
        }


        .top-navigation{
           
            background-color: rgb(10, 10, 43);
            padding: 10px;
            text-align: right;
            padding-right: 10px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .top-navigation a {
            color: rgb(255, 255, 255);
            font-size: 15px;
        }
        /* Title */
        .header {
            display: flex;
            justify-content: space-between; /* Aligns items horizontally */
            align-items: center; /* Centers items vertically */
            padding: 10px;
            
            background: linear-gradient(45deg, #043469 50%, rgb(236, 236, 91) 50%);
        }
        
        .title {
            display: flex;
            align-items: center;
        }
        
        .title h1 {
            /* You can style the title as needed */
            font-size: 50px;
            color: #fff;
            margin-left: 10px; /* Add spacing between the logo and title */
        }
        
        .logo img {
            /* You can style the logo image as needed */
            width: 100px; /* Set the width of the logo */
            height: auto; /* Maintain aspect ratio */
        }
        
        nav {
        
            color: rgb(10, 10, 43);
            padding: 10px;
            text-align: right;
            padding-right: 10px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    
        nav a {
            text-decoration: none;
            color: rgb(10, 10, 43);
            margin: 10px;
            font-size: 22px;
           
        }
    

        
        /* Main content */
        #content {
            margin: 20px;
            display: flex;
            justify-content: center;
            
        }
        /* Box */
        .box {
            width: 500px;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            margin: 0 auto;
            
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            margin-top: 80px;
            align-items: center;
            flex-direction: column;
            
            
        }


       /* Style for the title */
        .box h2 {
            font-size: 24px;
            margin-bottom: 5px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }


/* Style for the image */
        .box img {
            max-width: 300px;
            max-height: 300px;
            margin-right: 10px;
            align-items: start;
        }

/* Style for the text */
        .box .text {
         font-size: 20px;
         text-align: center;
         font-weight: bold;
         
        }

/* Style for the text paragraphs */
        .box .text p {
             margin: 0px 0;
             font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #f0ecec;
            background-size:contain;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
