
body {
    margin: 0;
    padding: 0;
            
}

header {
    background-color: #0882bb;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(45deg, #043469 50%, rgb(236, 236, 91) 50%);
    margin-bottom: 50px;
}

.top-navigation{
           
    background-color: rgb(10, 10, 43);
    padding: 10px;
    text-align: right;
    padding-right: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.top-navigation a {
    color: rgb(255, 255, 255);
    font-size: 15px;
}
        
.title {
    display: flex;
    align-items: center;
}
        
.title h1 {
            
    font-size: 50px;
    color: #fff;
    margin-left: 10px; /* Add spacing between the logo and title */
}
        
.logo img {
         
    width: 100px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
}
        
nav {
        
    color: rgb(10, 10, 43);
    padding: 10px;
    text-align: right;
    padding-right: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
nav a {
    text-decoration: none;
    color: rgb(10, 10, 43);
    margin: 10px;
    font-size: 22px;          
}
    
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    margin-top: 40px;
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    padding: 20px 20px ;
    background-color: rgb(10, 10, 43);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.update-button-container {
    text-align: center;
    background-color: rgb(10, 10, 43);
}

.update-button {
    padding: 10px 20px; 
    font-size: 16px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.success-message {
    color: #4caf50;
    margin-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.error-message {
    color: #f44336;
    margin-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

